@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  font-family: 'Noto Sans';
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1f2937;
  color: white;
  padding: 25px;
  align-items: center;
}

header img {
  width: 80px;
}

header div {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  justify-content:space-around ;
}

nav {
  width: 60%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  border-bottom: solid 2px white;
}

/* First Box */

#sec-ini {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1f2937;
}

#sec-ini img {
  width: 300px;
}

#parte1,
#parte2 {
  padding: 50px;
  margin: 0 auto;
  width: 30%;
  background-color: #1f2937;
  justify-content: center;
}

#parte1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  color: white;
}

#parte2 {
  display: flex;
  justify-content: center;
}

#parte1 h2 {
  margin-bottom: 20px;
}

#parte1 p {
  margin-bottom: 20px;
}

#parte1 button {
  color: white;
  font-weight: bold;
  background-color: #3882f6;
  border: 0;
  border-radius: 5px;
  padding: 8px 15px;
  padding: 10px;
  width: 150px;
}

/* Main */

#sec4 {
  text-align: center;
  margin-top: 40px;
  width: 70%;
  margin: 50px auto;
  gap: 20px;
}

.sec3 {
  width: 100px;
  height: 100px;
  margin: 40px 20px;
  border: solid lightslategray 3px;
  border-radius: 10px;
}

#sec4 section {
    margin-top: 40px;
    width: 150px;
    height: 300px;
    display: inline-block;
}

main #sec4 img {
    width: 100%;
    height: 50%;
    filter: blur(0);
}

#quote {
    background-color: hsl(0, 0%, 93%);
    width: 100%;
    padding: 50px 0px;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

#quote div {
  width: 70%;
  margin: 0 auto;
}

#rebq {
  padding-top: 30px;
  width: 70%;
  font-weight: bold;
  text-align: end;
}

#sing {
    background-color: #3882f6;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
}

#bloq1 {
    margin-right: 60px;
}

#btn button {
    background-color: #3882f6;
    border: solid 2px white;
    padding: 7px 20px;
    border-radius: 10px;
}

/* Contact Us */

#main2 {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 5;
}

#main2 a {
  color: gray;
}

#main2 a:hover #thanks {
  border: none;
  display: block;
}

#thanks {
  width: 400px;
  display: none;
  position: absolute;
  margin: auto auto;
}

/* About Us */

#main3 {
  width: 70%;
  margin: 30px auto;
}

#main3 p {
  margin-bottom: 20px;
}

#main3 img {
  width: 100%;
}

/* Footer */

footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px 0px;
    text-align: center;
}

/* Celu */

@media (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }

  #sec-ini {
    display: flex;
    flex-direction: column;
  }

  nav {
    width: 100%;
  }

  #parte1,
  #parte2 {
  width: 50%;
  }
}